[Desktop Entry]
Version=1.0
Type=Application
Name=HONDA CATALOG (Offline)
Name[th]=สมุดภาพ อะไหล่ HONDA (ออฟไลน์)
Comment=Open HONDA parts catalog offline
Comment[th]=เปิดดูแคตตาล็อกอะไหล่ HONDA แบบออฟไลน์
Exec=/home/boy/HONDA-CATALOG/open-offline.sh
Icon=/home/boy/HONDA-CATALOG/offline/Images/Logo.png
Terminal=false
Categories=Application;Utility;
